<app-navbar></app-navbar>

<form [formGroup]="donationForm">
  <div class="is-flex is-justify-content-center mt-6">
    <div class="container">
      <div class="columns">
        <div class="column is-half p-5">
          <div class="title is-4">
            {{ "data_donor.data_donor" | translate }}
          </div>
          <div class="field">
            <label class="label">
              {{ "data_donor.country" | translate }}
            </label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select
                    formControlName="country"
                    (selectionChange)="validateCountry($event)"
                  >
                    <option
                      [value]="country.name"
                      *ngFor="let country of countrys_language"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="columns" *ngIf="showNational">
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.document" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    autocomplete="off"
                    formControlName="document"
                    (keypress)="numberOnly($event)"
                  />
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.type_document" | translate }}
                </label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="documentType">
                        <option value="CC">CC</option>
                        <option value="TI">TI</option>
                        <option value="CE">CE</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.name" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{
                      'data_donor.placeholder_name' | translate
                    }}"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.last_name" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{
                      'data_donor.placeholder_last_name' | translate
                    }}"
                    formControlName="lastName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.email" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{
                      'data_donor.placeholder_email' | translate
                    }}"
                    formControlName="email"
                  />
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.number_phone" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{
                      'data_donor.placeholder_number_phone' | translate
                    }}"
                    formControlName="contactPhone"
                    (keypress)="numberOnly($event)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">
              {{ "data_donor.address" | translate }}
            </label>
            <div class="control">
              <input
                class="input"
                type="text"
                formControlName="address"
                placeholder="{{ 'data_donor.placeholder_address' | translate }}"
                form=""
              />
            </div>
          </div>
        </div>
        <div class="column is-half p-5">
          <div class="title is-4">
            {{ "data_donor.infomation_donation" | translate }}
          </div>
          <div class="field">
            <div class="control title is-flex is-justify-content-center">
              {{ event?.name.toUpperCase() || "DEFAULT" }}
            </div>
          </div>
          <div class="columns mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.currency" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{ 'data_donor.currency' | translate }}"
                    formControlName="currency"
                  />
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">
                  {{ "data_donor.value" | translate }}
                </label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="{{ 'data_donor.value' | translate }}"
                    formControlName="amount"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 title is-4">
            {{ "data_donor.means_of_donation" | translate }}
          </div>

          <div class="columns is-flex-wrap-wrap">
            <div class="column is-one-quarter">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 1 }"
                (click)="method_selected = 1"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="far fa-credit-card fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  {{ "data_donor.credit" | translate }}
                </div>
              </div>
            </div>

            <div class="column is-one-quarter" *ngIf="showNational">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 2 }"
                (click)="method_selected = 2"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-exchange-alt fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">BANCO</div>
              </div>
            </div>
            <div class="column is-one-quarter" *ngIf="showNational">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 3 }"
                (click)="method_selected = 3"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-money-bill-wave fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  {{ "data_donor.cash" | translate }}
                </div>
              </div>
            </div>
            <div class="column is-one-quarter" *ngIf="!showNational">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 5 }"
                (click)="method_selected = 5"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="fab fa-paypal fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  {{ "data_donor.paypal" | translate }}
                </div>
              </div>
            </div>
            <div class="column is-one-quarter" *ngIf="assistantsValidate == 1">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 4 }"
                (click)="method_selected = 4"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-qrcode fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  {{ "data_donor.code" | translate }}
                </div>
              </div>
            </div>

            <div class="column is-one-quarter">
              <div
                class="card p-5"
                [ngClass]="{ 'card-selected': method_selected == 6 }"
                (click)="method_selected = 6"
                *ngIf="showNational"
              >
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-box-open fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  {{ "data_donor.box" | translate }}
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div *ngIf="method_selected == 1">
            <div class="field mt-5">
              <label class="label">
                {{ "data_donor.card_name" | translate }}
              </label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="{{ 'data_donor.card_name' | translate }}"
                  formControlName="cardName"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column is-four-fifths">
                <div class="field">
                  <label class="label">
                    {{ "data_donor.card_number" | translate }}
                  </label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="00000-00000-0000-0000"
                      formControlName="cardNumber"
                      maxlength="18"
                      (keypress)="numberOnly($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">
                    {{ "data_donor.cvc" | translate }}
                  </label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="***"
                      formControlName="cardSecurityCode"
                      autocomplete="off"
                      maxlength="4"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <label class="label">
                  {{ "data_donor.month" | translate }}
                </label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardMonth">
                        <option
                          *ngFor="let month of monthsCreditCard"
                          value="{{ month.id }}"
                        >
                          {{ month.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <label class="label">
                  {{ "data_donor.year" | translate }}
                </label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardYear">
                        <option
                          *ngFor="let year of yearsCreditCard"
                          value="{{ year.id }}"
                        >
                          {{ year.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="method_selected == 2 && showNational">
            <div>
              <label class="label"> Banco </label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select
                      name=""
                      formControlName="financialInstitutionCode"
                      (click)="validateBanks()"
                    >
                      <option
                        *ngFor="let bank of banks"
                        value="{{ bank.bankCode }}"
                      >
                        {{ bank.bankName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <label class="label">
                {{ "data_donor.type_person" | translate }}
              </label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="" formControlName="clientType">
                      <option value="0">
                        {{ "data_donor.person_natura" | translate }}
                      </option>
                      <option value="1">
                        {{ "data_donor.person_legal" | translate }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="method_selected == 3 && showNational">
            <div>
              <label class="label">
                {{ "data_donor.cash" | translate }}
              </label>
              <span>
                <i class="fas fa-info-circle"></i>
                {{ "data_donor.description_validate_amount" | translate }}
              </span>
              <div class="field has-addons mt-2">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="paymentMethod">
                      <option value="EFECTY">Efecty</option>
                      <option value="BALOTO">Baloto</option>
                      <option value="OTHERS_CASH">Paga Todo</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="method_selected == 4">
            <div>
              <div class="field mt-5">
                <label class="label"
                  >{{ "data_donor.code" | translate }}*</label
                >
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Escribe el codigo "
                    formControlName="paymentCode"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            (click)="submit()"
            class="button btn is-small is-fullwidth mt-5"
            [ngClass]="{ 'is-loading': isLoading }"
          >
            {{ "data_donor.make_donation" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
