<app-navbar></app-navbar>

<form [formGroup]="donationForm">
  <div class="is-flex is-justify-content-center mt-6">
    <div class="container">
      <div class="columns">
        <div class="column is-half p-5">
          <div class="title is-4">
            Datos del Donante
          </div>
          <div class="field">
            <label class="label">País</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select formControlName="country">
                    <option [value]="country.name" *ngFor="let country of countrys_language"
                      (click)="validateCountry(country)">
                      {{country.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="columns" *ngIf="showNational">
            <div class="column is-half">
              <div class="field">
                <label class="label">Documento</label>
                <div class="control">
                  <input class="input" type="text" autocomplete="off" formControlName="document"
                    (keypress)="numberOnly($event);">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Tipo de Documento</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="documentType">
                        <option value="CC">CC</option>
                        <option value="TI">TI</option>
                        <option value="CE">CE</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" placeholder="nombre" formControlName="name">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Apellido</label>
                <div class="control">
                  <input class="input" type="text" placeholder="apellido" formControlName="lastName">
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Email" formControlName="email">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Número de telefono</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Numero de telefono" formControlName="contactPhone"
                    (keypress)="numberOnly($event);">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Dirección</label>
            <div class="control">
              <input class="input" type="text" placeholder="Direccion" form="">
            </div>
          </div>
          <div class="columns">
            <div class="column is-full">
              <div class="field">
                <label class="label">Código postal</label>
                <div class="control">
                  <input class="input" type="text" placeholder="codigo postal" formControlName="postalCode">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="column is-half p-5">
          <div class="title is-4">
            Información de Donación
          </div>
          <div class="field">
            <div class="control title is-flex is-justify-content-center">
              {{ event?.name.toUpperCase() || 'DEFAULT' }}
            </div>
          </div>
          <div class="columns mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Moneda</label>
                <div class="control">
                  <input class="input" type="text" placeholder="moneda" formControlName="currency">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Valor</label>
                <div class="control">
                  <input class="input" type="text" placeholder="valor" formControlName="amount">
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 title is-4">
            Medios de Donación
          </div>



          <div class="columns is-flex-wrap-wrap">
            <div class="column is-one-quarter">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 1}" (click)="method_selected = 1">
                <div class="is-flex is-justify-content-center">
                  <i class="far fa-credit-card fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Credito
                </div>
              </div>
            </div>

            <div class="column is-one-quarter" *ngIf="showNational">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 2}" (click)="method_selected = 2">
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-exchange-alt fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Banco
                </div>
              </div>
            </div>
            <div class="column is-one-quarter" *ngIf="showNational">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 3}" (click)="method_selected = 3">
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-money-bill-wave fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Efectivo
                </div>
              </div>
            </div>
            <div class="column is-one-quarter" *ngIf="!showNational">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 5}" (click)="method_selected = 5">
                <div class="is-flex is-justify-content-center">
                  <i class="fab fa-paypal fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  PayPal
                </div>
              </div>
            </div>
            <div class="column is-one-quarter">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 4}" (click)="method_selected = 4">
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-qrcode fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Codigo
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="method_selected == 1">
            <div class="field mt-5">
              <label class="label">Nombre de la tarjeta</label>
              <div class="control">
                <input class="input" type="text" placeholder="nombre de la tarjeta" formControlName="cardName">
              </div>
            </div>
            <div class="columns">
              <div class="column is-four-fifths">
                <div class="field">
                  <label class="label">Numero de tarjeta</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="00000-00000-0000-0000" formControlName="cardNumber"
                      maxlength="18" (keypress)="numberOnly($event);">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">CVC</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="***" formControlName="cardSecurityCode"
                      autocomplete="off" maxlength="4">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <label class="label">Mes</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardMonth">
                        <option *ngFor="let month of monthsCreditCard" value="{{month.id}}">{{month.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <label class="label">Año</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardYear">
                        <option *ngFor="let year of yearsCreditCard" value="{{year.id}}">{{year.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="method_selected == 2 && showNational">
            <div>
              <label class="label">Banco</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="" formControlName="financialInstitutionCode">
                      <option *ngFor="let bank of banks" value="{{bank.bankCode}}">
                        {{bank.bankName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <label class="label">Tipo de persona</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="" formControlName="clientType">
                      <option value="0">
                        Persona Natural
                      </option>
                      <option value="1">
                        Persona Juridica
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="method_selected == 3 && showNational">
            <div>
              <label class="label">Efectivo</label>
              <span>
                <i class="fas fa-info-circle"></i>
                El monto mínimo de la transacción debe ser mayor a $10.000
              </span>
              <div class="field has-addons mt-2">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="paymentMethod">
                      <option value="EFECTY">Efecty</option>
                      <option value="BALOTO">Baloto</option>
                      <option value="OTHERS_CASH">Paga Todo</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="method_selected == 4 && showNational">
            <div>
              <div class="field mt-5">
                <label class="label">Codigo *</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Escribe el codigo " formControlName="paymentCode">
                </div>
              </div>
            </div>
          </div>
          <button (click)="submit()" class="button btn is-small is-fullwidth mt-5"
            [ngClass]="{ 'is-loading': isLoading }">Realizar Donación</button>
        </div>
      </div>
    </div>
  </div>
</form>
