<app-navbar></app-navbar>

<form [formGroup]="donationForm">
  <div class="is-flex is-justify-content-center mt-6">
    <div class="container">
      <div class="columns">
        <div class="column is-half p-5">
          <div class="title is-4">
            Datos del Donante
          </div>
          <div class="field">
            <label class="label">Documento</label>
            <div class="control">
              <input class="input" type="text" autocomplete="off" formControlName="document"
                (keypress)="numberOnly($event);">
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" placeholder="nombre" formControlName="name">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Apellido</label>
                <div class="control">
                  <input class="input" type="text" placeholder="apellido" formControlName="lastName">
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Email" formControlName="email">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Numero de telefono</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Numero de telefono" formControlName="contactPhone"
                    (keypress)="numberOnly($event);">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Direccion</label>
            <div class="control">
              <input class="input" type="text" placeholder="Direccion" form="">
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <label class="label">Pais</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="country">
                      <option [value]="country.name" *ngFor="let country of countrys_language"
                        (click)="validateCountry(country)">
                        {{country.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Codigo postal</label>
                <div class="control">
                  <input class="input" type="text" placeholder="codigo postal" formControlName="postalCode">
                </div>
              </div>
            </div>
          </div>
          <div class="field-body">
            <div class="field">
              <label class="label">Nota</label>
              <div class="control">
                <textarea class="textarea" placeholder="" formControlName="nota"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half p-5">
          <div class="title is-4">
            Información de Donación
          </div>
          <div class="field">
            <div class="control title is-flex is-justify-content-center">
              {{ event?.name.toUpperCase() || 'DEFAULT' }}
            </div>
          </div>
          <div class="columns mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Moneda</label>
                <div class="control">
                  <input class="input" type="text" placeholder="moneda" formControlName="currency">
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Valor</label>
                <div class="control">
                  <input class="input" type="text" placeholder="valor" formControlName="amount">
                </div>
              </div>
            </div>
          </div>
          <div class="mt-6 title is-4">
            Medios de Donación
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 1}" (click)="method_selected = 1">
                <div class="is-flex is-justify-content-center">
                  <i class="far fa-credit-card fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Credito 
                </div>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 2}" (click)="method_selected = 2">
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-exchange-alt fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Banco
                </div>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="card p-5" [ngClass]="{'card-selected':method_selected == 3}" (click)="method_selected = 3">
                <div class="is-flex is-justify-content-center">
                  <i class="fas fa-money-bill-wave fa-2x"></i>
                </div>
                <div class="is-flex is-justify-content-center mt-3">
                  Efectivo
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="method_selected == 1">
            <div class="field mt-5">
              <label class="label">Nombre de la tarjeta</label>
              <div class="control">
                <input class="input" type="text" placeholder="nombre de la tarjeta" formControlName="cardName">
              </div>
            </div>
            <div class="columns">
              <div class="column is-four-fifths">
                <div class="field">
                  <label class="label">Numero de tarjeta</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="00000-00000-0000-0000" formControlName="cardNumber"
                      maxlength="18" (keypress)="numberOnly($event);">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">CVC</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="***" formControlName="cardSecurityCode"
                      autocomplete="off" maxlength="4">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <label class="label">Mes</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardMonth">
                        <option *ngFor="let month of monthsCreditCard" value="{{month.id}}">{{month.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <label class="label">Año</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="cardYear">
                        <option *ngFor="let year of yearsCreditCard" value="{{year.id}}">{{year.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="method_selected == 2">
            <div>
              <label class="label">Banco</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="" formControlName="financialInstitutionCode" (click)="getBanks()">
                      <option *ngFor="let bank of banks" value="{{bank.bankCode}}">
                        {{bank.bankName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <label class="label">Tipo de persona</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="" formControlName="clientType" (click)="getBanks()">
                      <option value="0">
                        Persona Natural
                      </option>
                      <option value="1">
                        Persona Juridica
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="method_selected == 3">
            <div>
              <label class="label">Efectivo</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="paymentMethod">
                      <option value="EFECTY">Efecty</option>
                      <option value="BALOTO">Baloto</option>
                      <option value="OTHERS_CASH">Paga Todo</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <button (click)="submit()" class="button btn is-small is-fullwidth mt-5"
          [ngClass]="{ 'is-loading': isLoading }">Realizar Donación</button>
        </div>
      </div>
    </div>
  </div>

</form>


<!-- <app-navbar></app-navbar>
<div class="payment-container">
    <form [formGroup]="donationForm" (ngSubmit)="submit();" style="width: 100%;">
        <mat-card class="payment-card">

            <div class="event-container">

                <div class="title-container">
                    <h1 class="event-title">DESCRIPCIÓN DE LA DONACIÓN</h1>
                </div>

                <div class="description-container">
                    <p><span>Nombre  evento:</span> {{ event?.name.toUpperCase() || 'DEFAULT' }} </p>
                    <p><span>Valor:</span> $ {{ (event?.financialCut[event?.financialCutSelected].prices.cop * event?.assistants) || '' }}
                        COP</p>
                    <p><span>Cantidad de entradas:</span> {{event?.assistants}}</p>
                </div>
            </div>

            <div class="data-container">
                <div class="info-container">
                    <div class="forms-title text-center">
                        <h3>Datos del donante </h3>
                    </div>
                    <br>


                    <mat-form-field appearance="fill" class="w-100">

                        <mat-label>Número de documento* </mat-label>
                        <input matInput autocomplete="off" formControlName="document" (keypress)="numberOnly($event);">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nombre*</mat-label>
                        <input matInput autocomplete="off" formControlName="name">
                        
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Apellido*</mat-label>
                        <input matInput autocomplete="off" formControlName="lastName">
                        
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Email*</mat-label>
                        
                        <input matInput type="email" autocomplete="off" formControlName="email">
                        
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Celular*</mat-label>
                        <input matInput placeholder="Número de celular" autocomplete="off"
                            formControlName="contactPhone" (keypress)="numberOnly($event);">
                        
                    </mat-form-field>

                </div>
                <div class="to-pay-container">
                    <div class="forms-title text-center">
                        <h3>Método de donación</h3>
                    </div>
                    <br>
                    <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
                        <mat-tab label="PSE">
                            <br>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Selecciona tu banco</mat-label>
                                
                                <mat-select (click)="getBanks()" formControlName="financialInstitutionCode">
                                    <mat-option *ngFor="let bank of banks" value="{{bank.bankCode}}">
                                        {{bank.bankName}}
                                    </mat-option>
                                </mat-select>
                                
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Tipo de persona</mat-label>
                                
                                <mat-select formControlName="clientType">
                                    <mat-option value="0">
                                        Persona Natural</mat-option>
                                    <mat-option value="1">
                                        Persona Juridica
                                    </mat-option>
                                </mat-select>
                                
                            </mat-form-field>

                            


                        </mat-tab>
                        <mat-tab label="Crédito">
                            <br>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Número de tarjeta</mat-label>
                                <input matInput placeholder="**** **** **** ****" formControlName="cardNumber"
                                    maxlength="18" (keypress)="numberOnly($event);">
                                <mat-icon matSuffix>
                                    <img (error)="onError($event);" [src]="urlCard" height="30">
                                </mat-icon>
                            
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Nombre en tarjeta</mat-label>
                                
                                <input matInput formControlName="cardName">
                                
                            </mat-form-field>

                            <div class="container-card">

                                <mat-form-field appearance="fill">
                                    <mat-label>Mes</mat-label>
                                    <mat-select formControlName="cardMonth">
                                        
                                        <mat-option *ngFor="let month of monthsCreditCard" value="{{month.id}}">
                                            {{month.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint>Fecha de vencimiento</mat-hint>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <mat-select formControlName="cardYear">
                                        
                                        <mat-option *ngFor="let year of yearsCreditCard" value="{{year.id}}">
                                            {{year.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <mat-form-field appearance="fill">
                                <mat-label>CVC</mat-label>
                                <input matInput formControlName="cardSecurityCode" placeholder="CVC" type="password"
                                    autocomplete="off" maxlength="4">
                                
                            </mat-form-field>

                        </mat-tab>

                        <mat-tab label="Efectivo">
                            <br>
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Selecciona tu método de pago</mat-label>
                                <mat-select formControlName="paymentMethod">
                                    
                                    <mat-option value="EFECTY">Efecty</mat-option>
                                    <mat-option value="BALOTO">Baloto</mat-option>
                                    <mat-option value="OTHERS_CASH">Paga Todo</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="next">
                <div>
                    <mat-icon style="color: #ff4081">keyboard_arrow_left</mat-icon>
                    <a id="before" (click)="goBack()">Atrás</a>
                </div>
                <div>
                    <mat-progress-spinner *ngIf="isLoading" diameter="20" mode="indeterminate" value="100"></mat-progress-spinner>
                    <button mat-button color="primary" *ngIf="!isLoading" style="font-weight: bold; font-size:medium;">
                        Completar Donación <mat-icon style="color: #25cd90;">done</mat-icon></button>
                </div>
            </div>
        </mat-card>
    </form>
</div> -->
