<div class="example-container mat-elevation-z0">
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>
                <mat-icon>person</mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="cursor-pointer">
                {{ i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef class="show-header">Documento</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer"> {{element.documentNumber}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre completo </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                {{ element.name }} {{ element.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Contacto</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cursor-pointer">
                {{ element.mobile }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="cursor-pointer">
                <button mat-button color="warn">
                    <mat-icon (click)="handleClose(i);" color="warn">
                        close</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>