.mat-expansion-panel-header {
    align-items: unset !important;
}
h2{
    padding: 0 24px;
    color: #181C32;
}
h3 {
    color:rgb(223, 222, 222); 
    display: flex;
    align-items: center;  
}
strong {
    font-weight: bold;
}
.mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header.mat-expanded:hover ,.mat-expansion-panel-header.mat-expanded:focus {
    height: 50px;
    background: #6C5DD3;
    color: white!important;
    margin-bottom: 10px;
}
.mat-expansion-panel-body {
    padding: 0px !important;
}
.mat-accordion .mat-expansion-panel {
    border-radius: 0px;
}

.mat-icon {

    margin-right: 11px;
}