<form [formGroup]="assistantForm" (ngSubmit)="submit()" style="width: 100%">
  <h2 mat-dialog-title>{{ "detail_event.add_assistant" | translate }}</h2>
  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel
        disabled
        class="mat-elevation-z-0"
        [expanded]="step === 0"
        (opened)="setStep(0)"
        [disabled]="disableds[0]"
        hideToggle="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              <mat-icon style="color: white">account_circle</mat-icon>
              {{ "form_add_assistant.personal_information" | translate }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <h2 style="font-size: large; font-weight: bold">
            {{ "form_add_assistant.type_register" | translate }}
          </h2>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-radio-group
              name="registerType"
              aria-label="Select an option"
              (change)="handleRegisterType()"
              formControlName="registerType"
            >
              <mat-radio-button value="1">
                {{ "form_add_assistant.register_national" | translate }}
              </mat-radio-button>
              <mat-radio-button class="ml-3" value="2">
                {{ "form_add_assistant.register_international" | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field
              appearance="fill"
              class="w-100"
              *ngIf="form.registerType.value == '1'"
            >
              <mat-label>
                {{ "form_add_assistant.type_document" | translate }}
              </mat-label>
              <mat-select type="select" formControlName="documentType">
                <mat-option *ngFor="let type of documentTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field
              class="w-100"
              appearance="fill"
              *ngIf="form.registerType.value == '1'"
            >
              <mat-label>
                {{ "form_add_assistant.number_document" | translate }}
              </mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="documentNumber"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.name" | translate }}
              </mat-label>
              <input matInput autocomplete="off" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.last_name" | translate }}
              </mat-label>
              <input matInput autocomplete="off" formControlName="lastName" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ "form_add_assistant.gender" | translate }}
              </mat-label>
              <mat-select type="select" formControlName="gender">
                <mat-option value="M">
                  {{ "form_add_assistant.male" | translate }}
                </mat-option>
                <mat-option value="F">
                  {{ "form_add_assistant.female" | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-next"
            (click)="nextStep()"
          >
            {{ "form_add_assistant.next" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-elevation-z-0"
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle="true"
        [disabled]="disableds[1]"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              <mat-icon style="color: rgb(218, 214, 214)"
                >supervised_user_circle</mat-icon
              >
              {{ "form_add_assistant.contact_information" | translate }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.cell_phone" | translate }}
              </mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="mobile"
                (keypress)="numberOnly($event)"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <!-- <mat-form-field class="w-100" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input matInput autocomplete="off" formControlName="address" />
            </mat-form-field> -->
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.email" | translate }}
              </mat-label>
              <input matInput autocomplete="off" formControlName="email" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.confirm_email" | translate }}
              </mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="confirmEmail"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.language" | translate }}
              </mat-label>

              <mat-select
                type="select"
                formControlName="language"
                (selectionChange)="getPastors()"
              >
                <mat-option value="ES">
                  {{ "language.es" | translate }}
                </mat-option>
                <mat-option value="EN">
                  {{ "language.en" | translate }} </mat-option
                ><mat-option value="PT">
                  {{ "language.pt" | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-prev"
            (click)="prevStep()"
          >
            {{ "form_add_assistant.back" | translate }}
          </button>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-next"
            (click)="nextStep()"
          >
            {{ "form_add_assistant.next" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-elevation-z-0"
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle="true"
        [disabled]="disableds[2]"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              <mat-icon style="color: rgb(218, 214, 214)"
                >maps_home_work</mat-icon
              >
              {{ "form_add_assistant.ministerial_information" | translate }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>
                {{ "form_add_assistant.country" | translate }}
              </mat-label>
              <mat-select
                type="select"
                formControlName="country"
                (selectionChange)="this.assistantForm.get('typeChurch').reset()"
              >
                <mat-option
                  *ngFor="let country of countries"
                  value="{{ country.name }}"
                  >{{ country.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>
                {{ "form_add_assistant.church" | translate }}
              </mat-label>
              <mat-select
                type="select"
                formControlName="typeChurch"
                (selectionChange)="getPlaces()"
              >
                <mat-option
                  *ngFor="let type of churchTypes"
                  value="{{ type.idDetailMaster }}"
                >
                  {{ "form_add_assistant." + type.idDetailMaster | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="form.typeChurch.value == '88'">
          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>{{
                "form_add_assistant.headquarter" | translate
              }}</mat-label>
              <mat-select
                type="select"
                formControlName="headquarters"
                (selectionChange)="getPastors()"
              >
                <mat-option *ngFor="let place of places" value="{{ place.id }}">
                  {{ place.name }} | {{ place.city }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>
                {{ "form_add_assistant.network" | translate }}
              </mat-label>
              <mat-select
                type="select"
                formControlName="network"
                (selectionChange)="getPastors()"
              >
                <mat-option value="01">
                  {{ "form_add_assistant.mens" | translate }}
                </mat-option>
                <mat-option value="02">
                  {{ "form_add_assistant.womens" | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="form.typeChurch.value == '88'">
          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>
                {{ "form_add_assistant.pastor" | translate }}
              </mat-label>
              <mat-select
                type="select"
                formControlName="pastor"
                (selectionChange)="getLeaders($event.value)"
              >
                <mat-option
                  *ngFor="let pastor of pastors"
                  value="{{ pastor.user_code }}"
                  >{{ pastor.name | uppercase }}
                  {{ pastor.last_name | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>
                {{ "form_add_assistant.leader" | translate }}
              </mat-label>
              <mat-select type="select" formControlName="leader">
                <mat-option
                  *ngFor="let leader of leaders"
                  value="{{ leader.id }}"
                  >{{ leader.name | uppercase }}
                  {{ leader.last_name | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div
          class="row"
          *ngIf="form.typeChurch.value && form.typeChurch.value != '88'"
        >
          <div class="col-6">
            <ng-container
              *ngIf="form.typeChurch.value && form.typeChurch.value != '88'"
            >
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>
                  {{ "form_add_assistant.church_name" | translate }}
                </mat-label>
                <input
                  matInput
                  autocomplete="off"
                  formControlName="churchName"
                />
              </mat-form-field>
            </ng-container>
          </div>

          <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>
                {{ "form_add_assistant.pastor_name" | translate }}
              </mat-label>
              <input matInput autocomplete="off" formControlName="pastorName" />
            </mat-form-field>
          </div>
        </div>
        <mat-action-row>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-prev"
            (click)="prevStep()"
          >
            {{ "form_add_assistant.back" | translate }}
          </button>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-next"
            (click)="nextStep()"
          >
            {{ "form_add_assistant.next" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-elevation-z-0"
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle="true"
        [disabled]="disableds[3]"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              <mat-icon style="color: rgb(218, 214, 214)"
                >text_snippet</mat-icon
              >
              {{ "form_add_assistant.terms_and_conditions" | translate }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-terms-conditions></app-terms-conditions>

        <div style="display: flex; justify-content: start">
          <div>
            <mat-checkbox formControlName="terms"></mat-checkbox>
          </div>
          <div style="display: block; margin-left: 10px">
            {{ "form_add_assistant.accept_ters_and_conditions" | translate }}
          </div>
        </div>

        <mat-action-row>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-prev"
            (click)="prevStep()"
          >
            {{ "form_add_assistant.back" | translate }}
          </button>
          <button type="button" mat-button color="primary" (click)="nextStep()">
            {{ "form_add_assistant.next" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-elevation-z-0"
        [expanded]="step === 4"
        (opened)="setStep(4)"
        hideToggle="true"
        [disabled]="disableds[4]"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              <mat-icon style="color: rgb(218, 214, 214)"
                >text_snippet</mat-icon
              >
              {{ "form_add_assistant.politics" | translate }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="politics">
          Autorizo de manera voluntaria, previa, expresa e informada a LA
          IGLESIA MISIÓN CARISMÁTICA INTERNACIONAL "M.C.I." identificada con
          NIT. 800.195.397-7 y dirección electrónica contabilidad@mci12.com en
          calidad de RESPONSABLE, para tratar mis datos personales de acuerdo
          con su Política de Tratamiento de Datos Personales publicada en
          <a href="https://mci12.com/politicasdedatos/" target="blank"
            >https://mci12.com/politicasdedatos/ .</a
          >
          LA IGLESIA MISIÓN CARISMÁTICA INTERNACIONAL "M.C.I." queda autorizado
          para recolectar, compilar, almacenar, usar, circular, compartir,
          comunicar, procesar, actualizar, cruzar, transferir, transmitir,
          depurar, suprimir y disponer mis datos personales aquí suministrados,
          de acuerdo con las finalidades relacionadas con el objeto social de la
          Entidad Religiosa y en especial para utilizar mis datos personales con
          la finalidad de mantener contacto, remitir información de interés,
          acompañarme en mi proceso de crecimiento espiritual, educativo,
          desarrollo e inclusión en programas sociales, asuntos administrativos,
          divulgación de eventos, recibir información comercial de terceros
          aliados relacionada con la misión y visión de la iglesia. Finalmente
          declaro que la información y datos personales que he dispuesto para el
          tratamiento por parte de LA IGLESIA MCI la he suministrado de forma
          voluntaria y es verídica. Como titular de datos personales he sido
          informado de que la posibilidad de ejercer el derecho de consulta,
          queja o reclamo, así como la actualización, supresión o modificación
          de mis datos o cualquier derecho, dirigiendo de forma gratuita una
          Consulta y/o Comunicación en este sentido a la dirección electrónica:
          privacidad@mci12.com o de forma presencial en la siguiente dirección
          física: Calle 22C No. 31- 01 de la ciudad de Bogotá D.C.
        </div>

        <div style="display: flex; justify-content: start; margin-top: 9px">
          <div>
            <mat-checkbox formControlName="politics"></mat-checkbox>
          </div>
          <div style="display: block; margin-left: 10px">
            <a
              href="https://mci12.com/politicasdedatos/"
              target="blank"
              style="color: black"
            >
              {{ "form_add_assistant.accept_politics" | translate }}
            </a>
          </div>
        </div>

        <mat-action-row>
          <button
            type="button"
            mat-button
            color="primary"
            class="btn-prev"
            (click)="prevStep()"
          >
            {{ "form_add_assistant.back" | translate }}
          </button>
          <button
            type="button"
            mat-button
            color="primary"
            *ngIf="isMobile"
            (click)="nextStep()"
          >
            {{ "form_add_assistant.next" | translate }}
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      cdkFocusInitial
      type="button"
      mat-button
      style="color: gray"
      class="btn-prev"
      (click)="dialog.close()"
    >
      {{ "form_add_assistant.cancel" | translate }}
    </button>
    <button mat-button color="primary" class="btn-next">
      {{ "form_add_assistant.save" | translate }}
    </button>
  </mat-dialog-actions>
</form>
