<div class="features-container">

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/energy.svg">
        </div>
        <div class="feature-desc">
            <h6>Eventos G12</h6>
            <p>Ahora podrás registrarte a todos los eventos de G12</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/secure_payment.svg">
        </div>
        <div class="feature-desc">
            <h6>Donación Segura</h6>
            <p>Todas tus donaciones nacionales e internacionales por medio de un solo lugar.</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/best_quality.svg">
        </div>
        <div class="feature-desc">
            <h6>Favoritos</h6>
            <p>Tus eventos favoritos disponibles para ti.</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/star.svg">
        </div>
        <div class="feature-desc">
            <h6 class="fw-b">Suscribete</h6>
            <p>Recibe notificaciones sobre nuevos eventos</p>
        </div>
    </div>

</div>