<div class="features-container">

  <div class="feature-item">
    <div class="feature-icon">
      <img src="/assets/icons/energy.svg">
    </div>
    <div class="feature-desc">
      <h6>{{'footer.events_G12'|translate}}</h6>
      <p>{{'footer.description_events_G12'|translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <img src="/assets/icons/secure_payment.svg">
    </div>
    <div class="feature-desc">
      <h6>{{'footer.secure_donation'|translate}}</h6>
      <p>{{'footer.description_secure_donation'|translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <img src="/assets/icons/best_quality.svg">
    </div>
    <div class="feature-desc">
      <h6>{{'footer.favorites'|translate}}</h6>
      <p>{{'footer.descrption_favorites'|translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <img src="/assets/icons/star.svg">
    </div>
    <div class="feature-desc">
      <h6 class="fw-b">{{'footer.subscribe'|translate}}</h6>
      <p>{{'footer.description_subscribe'|translate}}</p>
    </div>
  </div>

</div>
