.features-container {
    width: 100%;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #e7e7ee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .feature-item {
    width: 20%;
    height: auto;
    max-height: 140px;
    display: flex;
  }
  
  .feature-icon {
    width: 20%;
    display: flex;
    align-items: center;
  }
  
  .feature-desc {
    width: 80%;
    padding: 10px;
  }
  
  .feature-desc>h6 {
    font-size: medium;
    font-weight: bold;
    color: var(--purple);
  }
  
  .feature-desc>p {
    font-size: small;
    color: #AAAAAA;
  }

  @media only screen and (max-width: 700px) {
    .features-container {
        display: block;
    }
    .feature-item {
        width: 100%;
    }
}