<div class="features-container">

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/energy.svg">
        </div>
        <div class="feature-desc">
            <h6>Eventos G12</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/secure_payment.svg">
        </div>
        <div class="feature-desc">
            <h6>Pago Seguro</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/best_quality.svg">
        </div>
        <div class="feature-desc">
            <h6>Alta calidad</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
    </div>

    <div class="feature-item">
        <div class="feature-icon">
            <img src="/assets/icons/star.svg">
        </div>
        <div class="feature-desc">
            <h6 class="fw-b">Tus favoritos</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
    </div>

</div>