/* .transaction-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('https://cdn.somosunogo.com/convenciong12/banner_g12_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transaction-card {
    box-shadow: none;
    background-color: rgb(248, 247, 247);
    display: block;
}

.card-container {
    height: 600px;
    width: 370px;
}

.card-content {
    padding: 0px !important;
}

.ok-button {
    width: 100%;
} */

.input[disabled], .select fieldset[disabled] select, .select select[disabled], .textarea[disabled], fieldset[disabled] .input, fieldset[disabled] .select select, fieldset[disabled] .textarea {
    background-color: #fff;
    border-color: #dfdede;
    box-shadow: none;
    color: var(--purple);
}

.transaction-info {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #ECECEC;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-title {
    font-weight: bold;
    font-size: xx-large;
}

.btn {
    background: var(--purple);
    color: white;
    height: 39px;
    border-radius: 8px !important;
    font-size: 15px;
    font-weight: bold;
}