<nav class="navbar is-white">

  <div class="navbar-brand">
    <a class="navbar-item" href="#">

      <img src="/assets/logo.png" alt="Eventos G12: El mejor lugar para avanzar" width="115">

    </a>
    <div class="select_language_mobile">
      <div class="select">
        <select  [formControl]="select_language" >
          <option *ngFor="let lang of translate.getLangs();"[value]="lang">
            {{ 'language.'+lang | translate }}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div id="navMenuColorlight-example" class="navbar-menu">
    <div class="navbar-start">

      <!-- <div class="navbar-item" style="margin-left: 20%;">
                <div class="field has-addons" style="width: 600px;">
                  <p class="control">

                    <a class="button">
                      <i class="fas fa-border-all"></i>
                      &nbsp;
                      Buscar
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Digite el nombre de un evento">
                  </p>
                  <p class="control">
                    <a class="button">
                      <i class="fas fa-search"></i>
                    </a>
                  </p>
                </div>
              </div> -->
      <!-- <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                  Docs
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                    Overview
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                    Modifiers
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                    Columns
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                    Layout
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                    Form
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                    Elements
                  </a>
                  <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                    Components
                  </a>
                </div>
              </div> -->

    </div>

    <div class="navbar-end">
      <!-- <div class="navbar-item">
                <button class="button">Login</button>
              </div> -->
      <div class="navbar-item">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <mat-icon aria-label="Language">language</mat-icon>{{currentLanguage | uppercase}}
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" *ngFor="let lang of translate.getLangs();" (click)="changeLang(lang)">
              {{ 'language.'+lang | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
