<div class="general-cont" *ngIf="!isResponsive">
  <img src="/assets/subscriptions/1.png" alt=""
    style="position: absolute;margin-top: 4px;width: 24rem;margin-left: 19px;">
  <img src="/assets/subscriptions/2.png" alt=""
    style="position: absolute;bottom: 0;z-index: 10;border-bottom-left-radius: 31px;">
  <img src="/assets/subscriptions/3.png" alt="" style="position: absolute;bottom: 0; border-bottom-left-radius: 32px;">
  <img src="/assets/subscriptions/4.png" alt="" style="position: absolute;border-top-right-radius: 32px;right: 0;">
  <img src="/assets/subscriptions/5.png" alt="" style="position: absolute;right: 0;border-top-right-radius: 32px;">
  <img src="/assets/subscriptions/6.png" alt=""
    style="position: absolute;right: 0;bottom: 0;border-bottom-right-radius: 32px;">
  <div class="title-sub">
    Suscribete para recibir mas informacion acerca de nuestros eventos
  </div>
  <div class="field has-addons title-sub" style="margin-top: 4rem;">
    <p class="control">
    </p>
    <p class="control is-expanded">
      <input class="input input-search" type="text" placeholder="Digita tu Email ... " style="border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;">
    </p>
    <p class="control">
      <a class="button btn-search">
        &nbsp;
        SUBSCRIBE
      </a>
    </p>
  </div>
  <div>
  </div>
</div>
