<div class="terms-container">
  <div class="initial">
    {{'form_add_assistant.description_terms_and_conditions.title'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.0'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.1'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.2'|translate}}



    <a href="www.eventosg12.com" target="_blank">www.eventosg12.com</a>
    {{'form_add_assistant.description_terms_and_conditions.3'|translate}}
  </div>
  <div class="concepts">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.concepts'|translate}}
        </strong>
      </h3>
    </div>
    <div>
      <strong>{{'form_add_assistant.description_terms_and_conditions.donation.title'|translate}}</strong>
      {{'form_add_assistant.description_terms_and_conditions.donation.description'|translate}}
    </div>
    <div>
      <strong>{{'form_add_assistant.description_terms_and_conditions.donor.title'|translate}}</strong>
      {{'form_add_assistant.description_terms_and_conditions.donor.description'|translate}}

    </div>
    <div>
      <strong>
        {{'form_add_assistant.description_terms_and_conditions.form_donation.title'|translate}}
      </strong>
      {{'form_add_assistant.description_terms_and_conditions.form_donation.description'|translate}}

    </div>
    <div>
      <strong>
        {{'form_add_assistant.description_terms_and_conditions.disable_person.title'|translate}}

      </strong>
      {{'form_add_assistant.description_terms_and_conditions.disable_person.description'|translate}}

    </div>
  </div>

  <div class="owner">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.property.title'|translate}}


        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.property.0'|translate}}
      <a href="https://convenciong12.com/">
        https://convenciong12.com/</a>
      {{'form_add_assistant.description_terms_and_conditions.property.1'|translate}}

    </div>
  </div>

  <div class="owner">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.security.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.security.description'|translate}}

    </div>
  </div>

  <div class="donor">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      <div><strong>

          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.description'|translate}}

        </strong></div>
      <br>
      <ul>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.0'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.1'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.2'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.3'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.4'|translate}}
        </li>
        <br>
      </ul>
    </div>
  </div>

  <div class="mount">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.mount.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.mount.description'|translate}}

    </div>
  </div>

  <div class="privileges">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.privileges.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.privileges.description'|translate}}
    </div>
  </div>

  <div class="donationForm">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.pay_donation.description_0'|translate}}

      <a href="https://convenciong12.com/">https://convenciong12.com/</a>
      {{'form_add_assistant.description_terms_and_conditions.pay_donation.description_1'|translate}}

    </div>
    <br>
    <div>
      <ul>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_1'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_2'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_3'|translate}}
        </li>
        <br>
      </ul>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.pay_donation.final_desription'|translate}}
    </div>
  </div>

  <div class="intelectualOwner">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.intellectual_property.title'|translate}}
        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.intellectual_property.description_0'|translate}}

      <a href="https://convenciong12.com">https://convenciong12.com</a>
      {{'form_add_assistant.description_terms_and_conditions.intellectual_property.description_1'|translate}}
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.intellectual_property.description_2'|translate}}

    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.intellectual_property.description_3'|translate}}

    </div>
  </div>

  <div class="privileges">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.responsibilities.title'|translate}}
        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.responsibilities.description_0'|translate}}

      <a href="https://convenciong12.com/">https://convenciong12.com/</a>
      {{'form_add_assistant.description_terms_and_conditions.responsibilities.description_1'|translate}}

    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.responsibilities.description_2'|translate}}
    </div>
  </div>
</div>
