<div class="terms-container">
  <div class="initial">
    {{'form_add_assistant.description_terms_and_conditions.title'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.0'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.1'|translate}}
    {{'form_add_assistant.description_terms_and_conditions.2'|translate}}



    <a href="www.eventosg12.com" target="_blank">www.eventosg12.com</a>
    {{'form_add_assistant.description_terms_and_conditions.3'|translate}}
  </div>
  <div class="concepts">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.concepts'|translate}}
        </strong>
      </h3>
    </div>
    <div>
      <strong>{{'form_add_assistant.description_terms_and_conditions.donation.title'|translate}}</strong>
      {{'form_add_assistant.description_terms_and_conditions.donation.description'|translate}}
    </div>
    <div>
      <strong>{{'form_add_assistant.description_terms_and_conditions.donor.title'|translate}}</strong>
      {{'form_add_assistant.description_terms_and_conditions.donor.description'|translate}}

    </div>
    <div>
      <strong>
        {{'form_add_assistant.description_terms_and_conditions.form_donation.title'|translate}}
      </strong>
      {{'form_add_assistant.description_terms_and_conditions.form_donation.description'|translate}}

    </div>
    <div>
      <strong>
        {{'form_add_assistant.description_terms_and_conditions.disable_person.title'|translate}}

      </strong>
      {{'form_add_assistant.description_terms_and_conditions.disable_person.description'|translate}}

    </div>
  </div>

  <div class="owner">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.property.title'|translate}}


        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.property.0'|translate}}
      <a href="https://convenciong12.com/">
        https://convenciong12.com/</a>
      {{'form_add_assistant.description_terms_and_conditions.property.1'|translate}}

    </div>
  </div>

  <div class="owner">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.security.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.security.description'|translate}}

    </div>
  </div>

  <div class="donor">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      <div><strong>

          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.description'|translate}}

        </strong></div>
      <br>
      <ul>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.0'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.1'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.2'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.3'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.donor_responsibilities.4'|translate}}
        </li>
        <br>
      </ul>
    </div>
  </div>

  <div class="mount">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.mount.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.mount.description'|translate}}

    </div>
  </div>

  <div class="privileges">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.privileges.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.privileges.description'|translate}}
    </div>
  </div>

  <div class="donationForm">
    <div>
      <h3>
        <strong>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.title'|translate}}

        </strong>
      </h3>
    </div>
    <div>
      {{'form_add_assistant.description_terms_and_conditions.pay_donation.description_0'|translate}}

      <a href="https://convenciong12.com/">https://convenciong12.com/</a>
      {{'form_add_assistant.description_terms_and_conditions.pay_donation.description_1'|translate}}

    </div>
    <br>
    <div>
      <ul>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_1'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_2'|translate}}
        </li>
        <br>
        <li>
          {{'form_add_assistant.description_terms_and_conditions.pay_donation.step_3'|translate}}
        </li>
        <br>
      </ul>
    </div>
    <div>
        {{'form_add_assistant.description_terms_and_conditions.pay_donation.final_desription'|translate}}
    </div>
  </div>

  <div class="intelectualOwner">
    <div>
      <h3>
        <strong>
            {{'form_add_assistant.description_terms_and_conditions.intellectual_property.title'|translate}}
        </strong>
      </h3>
    </div>
    <div>
      Los signos comerciales, marcas, distintivos, logotipos, textos, graficas, imágenes, dibujos y contenidos en
      la página
      <a href="https://convenciong12.com">https://convenciong12.com</a>
      son de titularidad de la Iglesia Misión Carismática Internacional y de otros titulares que autorizaron su
      uso.
    </div>
    <div>
      Con base en lo anterior, todos los derechos patrimoniales de autor
      (Reproducción, comunicación pública, transformación y distribución) o de explotación económica sobre los
      contenidos,
      software, bases o bancos de datos, creaciones multimedia y demás material protegido, estarán amparados por
      las normas del
      Convenio de Berna para la protección de las obras literarias, científicas y artísticas, revisión de 1971,
      instrumento
      particular OMPI del 20 de diciembre de 1996 sobre derecho de autor, el Convenio de París para la protección
      de la Propiedad
      Industrial, la ley 23 de 1982 sobre derecho de Autor, la ley 44 de 1993, las Decisiones Andinas 351 de 1993
      y 486 de 2000
      que crearon un régimen común sobre derecho de autor y derechos conexos, y Propiedad Industrial para los
      cinco países de la
      Comunidad Andina, así como todas las demás normas concordantes sobre la materia se refiere. La protección y
      utilización de
      estos materiales se refiere no solo a su expresión o utilización en formato o soporte material, sino que se
      extiende a toda
      forma de utilización en medios magnéticos, ópticos, electrónicos y similares, en forma de mensaje de datos
      (Internet, EDI, Correo electrónico etc.), y en general a cualquier medio conocido o por conocer.
    </div>
    <div>
      En caso de reclamaciones referentes a la propiedad intelectual de la información y contenidos de la página
      web deberán ser
      dirigidas al correo electrónico tesoreria@mci12.com que al ser notificado y luego de la comprobación,
      eliminara automáticamente el material objeto de controversia.
    </div>
  </div>

  <div class="privileges">
    <div>
      <h3>
        <strong>Descargo de responsabilidad</strong>
      </h3>
    </div>
    <div>
      Las donaciones a favor de la Iglesia Misión Carismática Internacional deben efectuarse únicamente a través
      de la página web
      <a href="https://convenciong12.com/">https://convenciong12.com/</a> La Iglesia no se hace responsable por
      los contenidos, datos e información financiera que cada uno de los usuarios o visitantes registren en
      formulario de donación en línea,
      se recomienda a los usuarios de este portal solicitar previamente a su banco la activación del servicio de
      pagos por medios
      electrónicos y que conozca al detalle las restricciones de su Banco en cuanto a montos de transacciones y
      claves de accesos.
      El usuario acepta y consiente el procesamiento técnico y transmisión del servicio de donación online
      incluyendo su contenido.
    </div>
    <div>
      Los términos y condiciones contenidos en esta página comenzarán a regir a partir de la fecha en que se
      suscribe. El donante deja constancia que ha leído y que acepta todas y cada una de las estipulaciones
      previstas en estos términos y condiciones de uso.
    </div>
  </div>
</div>
