<footer class="footer">
    <div class="container">
      <div class="content flex ">
  
        <div class="description-cont">
          <div class="logo">
            <img src="assets/logo.png" alt="">
          </div>
          <div class="mt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptas fugit id odit, nam a consequatur esse distinctio eaque quae rerum modi? Voluptate saepe sint inventore libero corporis ut modi.
          </div>
  
          <div class="mt-7">
            <div class="sub title">
              Follow Us
            </div>
            <div class="flex">
              <i class="fab fa-facebook-square fa-2x"></i>
              <i class="fab fa-youtube-square ml-2 fa-2x"></i>
              <i class="fab fa-twitter-square  ml-2 fa-2x"></i>
              <i class="fab fa-linkedin  ml-2 fa-2x"></i>
              <i class="fab fa-instagram  ml-2 fa-2x"></i>
            </div>
          </div>
        </div>
  
        <div class="categories ml-2">
  
          <div class="cont-cat">
            <div class="titlecat mb-5">Events Categories</div>
            <div class="flex">
              <div class="cat-name">
                some
              </div>
              <div class="cat-name">
                some
              </div>
            </div>
            <div class="flex">
              <div class="cat-name">
                some
              </div>
              <div class="cat-name">
                some
              </div>
            </div>
            <div class="flex">
              <div class="cat-name">
                some
              </div>
              <div class="cat-name">
                some
              </div>
            </div>
            <div class="flex">
              <div class="cat-name">
                some
              </div>
              <div class="cat-name">
                some
              </div>
            </div>
          </div>
  
  
        </div>
  
  
  
        <div class="categories ml-2">
          <div class="cont-cat">
            <div class="titlecat mb-5">Events Categories</div>
            <div class="">
              <div> Lorem, ipsum.</div>
              <div> Lorem, ipsum.</div>
              <div> Lorem, ipsum.</div>
              <div> Lorem, ipsum.</div>
              <div> Lorem, ipsum.</div>
              <div> Lorem, ipsum.</div>
            </div>
          </div>
        </div>
  
        <div class="location ml-2">
          <div class="titlecat mb-5">Our store</div>
          <div class="location-map">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laudantium facilis similique vero
          </div>
          <div class="mt-5">
            <div class="flex">
              <span><i class="fas fa-map-marker-alt fa-lg mr-3"></i></span>832 Thompson Drive, San Fransisco
              CA 94107, United States
            </div>
          </div>
          <div class="mt-5">
            <div class="flex">
              <span><i class="fas fa-phone fa-lg mr-3"></i></span>+123 345123 556
            </div>
          </div>
          <div class="mt-5">
            <div class="flex">
              <span><i class="fas fa-envelope fa-lg mr-3"></i></span>support@bookoe.id
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>